<!-- login.component.html -->

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Connexion</h2>
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Adresse e-mail</label>
          <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
        <div *ngIf="errorMessage" class="error-message mt-3">{{ errorMessage }}</div>
      </form>
    </div>
  </div>
</div>
