<div class="container">
  <h2>Ajouter un film</h2>
  <form [formGroup]="filmForm" (ngSubmit)="addFilm()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" formControlName="title" id="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="director">Directeur</label>
      <input type="text" formControlName="director" id="director" class="form-control">
    </div>
    <div class="form-group">
      <label for="year">Année</label>
      <input type="text" formControlName="year" id="year" class="form-control">
    </div>
    <div class="form-group">
      <label for="synopsis">Synopsis</label>
      <textarea formControlName="synopsis" id="synopsis" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
