<div class="container">
  <button (click)="logout()" class="btn btn-danger mt-3">Déconnexion</button> <!-- Bouton de déconnexion -->
  <h2>Ajouter un film</h2>
  <form [formGroup]="filmForm" (ngSubmit)="addFilm()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" formControlName="title" id="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="director">Directeur</label>
      <input type="text" formControlName="director" id="director" class="form-control">
    </div>
    <div class="form-group">
      <label for="year">Année</label>
      <input type="text" formControlName="year" id="year" class="form-control">
    </div>
    <div class="form-group">
      <label for="synopsis">Synopsis</label>
      <textarea formControlName="synopsis" id="synopsis" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
<h2>Liste des films</h2>
<ul>
  <li *ngFor="let film of films">
    <h3>{{ film.title }}</h3>
    <p><strong>Réalisateur:</strong> {{ film.director }}</p>
    <p><strong>Année:</strong> {{ film.year }}</p>
    <p><strong>Synopsis:</strong> {{ film.synopsis }}</p>
  </li>
</ul>
